* {
    box-sizing: border-box;
 }
 
 body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 .container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: hsla(232, 73%, 65%, 1);

background: linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 51%);

background: -moz-linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 51%);

background: -webkit-linear-gradient(90deg, hsla(232, 73%, 65%, 1) 0%, hsla(279, 33%, 48%, 1) 51%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6274e7", endColorstr="#8752a3", GradientType=1 );
 }
 
 h1 {
    text-align: center;
    margin-bottom: 20px;
 }
 
 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
 }
 
 input[type=text], input[type=email], input[type=tel], input[type=date], input[type=time], input[type=number] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
 }
 
 input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
 }
 
 input[type=submit]:hover {
    background-color: #45a049;
 }
 


 @media screen and (max-width: 600px) {
    input[type=submit] {
       width: 100%;
       margin-top: 0;
    }
 }
 